div, li, ul, span, a, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	border: none;
}
svg#russia *, .menu a {
    transition-timing-function: linear;
    transition-duration: 0.14s;
    transition-property: fill, stroke, color;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'helveticaneuecyrroman', helvetica, arial, sans-serif;
	background: url(../images/svg/pattern.png) 0 0;
	background: url(../images/svg/pattern.svg) 0 0;
	background-size: 324px;
}
body>.main, body>.main>.left {
	height: 100%;
	overflow: hidden;
}
a {
	color :#BABCBE;
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: underline;
}
.main {
	background: url(../images/tracing.png) 2px -1px no-repeat;
	width: 1280px;
	margin: 0 auto;
	background: url(../images/svg/pattern.png) 0 0; 
	background:  rgba(255,255,255,0.7); 
	background-size: 324px;
}
.left {
	width: 274px;
	float: left;
	background: #fff;
}
.left-inner {
	margin: 30px 0 0 84px;
}
.head {
	font-size: 41px;
	line-height: 33px;
	font-family: 'helveticaneuecyrbold'
}
.subhead {
	font-size: 15px;
	letter-spacing: 0px;
	margin-top: 2px;
}
.menu {
    margin-top: 26px;
}
.menu li {
    font-size: 13px;
}
.menu li a {

}
.svgblock {
	width: 1006px;
	float: left;
	/* background: #fff; */
}
.svgblock svg>polygon, .svgblock  svg>g *, .svgblock  svg>path {
	fill: #E5E6E7;
	stroke: #BABCBE;
	stroke-mitter-limit: 10px;
}
.svgblock svg>polygon:hover, .svgblock svg>g:hover *, .svgblock svg>path:hover {
   fill: #676767!important;
}
/*---*/
svg#russia {
	width: 1006px;
	height: 540px;
	margin-top: 79px;
}
