extends ../layout

block title
	title Публикации

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/publications.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/publications.js' + version)


block content
	.content.publications_block
		.publications_navigation
			.publication_navigation_scroller
		.publications_line
			.publication_line_inner
				.publication_line_person.active
					img(src='/images/publications/persons/pub_per_01.png', alt='')
					.publication_line_person_title Иван Иванович Иванов
					.publication_line_content
						.publication_content_item
							.publication_name Схема территориального планирования в Дании.
							.publication_additional Журнал «Архитектура»
						.publication_content_item
							.publication_name
								| Методические вопросы оценки эффективности генерального плана городского поселения, городского округа.
							.publication_additional Сборник трудов РААСН
						.publication_content_item
							.publication_name
								| Формирование градостроительных предпосылок улучшения здоровья населения средствами территориального планирования (на примере схем территориального планирования Алтайского края и Белгородской области).
							.publication_additional
								| Сборник трудов РААСН
								br
								| Белгородский государственный технологический университет, 2008 г.
						.publication_content_item
							.publication_name Современные задачи экономики градостроительства. (Читать статью)
							.publication_additional Журнал «Градостроительство», №1, 2009 г.
						.publication_content_item
							.publication_name Управление комплексной реконструкцией районов исторической застройки
							.publication_additional Сборник трудов РААСН
				.publication_line_person
					img(src='/images/publications/persons/pub_per_02.png', alt='')
					.publication_line_person_title Иван Иванович Иванов
					.publication_line_content
						.publication_content_item
							.publication_name Схема территориального планирования в Дании.
							.publication_additional Журнал «Архитектура»
						.publication_content_item
							.publication_name
								| Методические вопросы оценки эффективности генерального плана городского поселения, городского округа.
							.publication_additional Сборник трудов РААСН
						.publication_content_item
							.publication_name
								| Формирование градостроительных предпосылок улучшения здоровья населения средствами территориального планирования (на примере схем территориального планирования Алтайского края и Белгородской области).
							.publication_additional
								| Сборник трудов РААСН
								br
								| Белгородский государственный технологический университет, 2008 г.
						.publication_content_item
							.publication_name Современные задачи экономики градостроительства. (Читать статью)
							.publication_additional Журнал «Градостроительство», №1, 2009 г.
						.publication_content_item
							.publication_name Управление комплексной реконструкцией районов исторической застройки
							.publication_additional Сборник трудов РААСН
				.publication_line_person
					img(src='/images/publications/persons/pub_per_03.png', alt='')
					.publication_line_person_title Иван Иванович Иванов
					.publication_line_content
						.publication_content_item
							.publication_name Схема территориального планирования в Дании.
							.publication_additional Журнал «Архитектура»
						.publication_content_item
							.publication_name
								| Методические вопросы оценки эффективности генерального плана городского поселения, городского округа.
							.publication_additional Сборник трудов РААСН
						.publication_content_item
							.publication_name
								| Формирование градостроительных предпосылок улучшения здоровья населения средствами территориального планирования (на примере схем территориального планирования Алтайского края и Белгородской области).
							.publication_additional
								| Сборник трудов РААСН
								br
								| Белгородский государственный технологический университет, 2008 г.
						.publication_content_item
							.publication_name Современные задачи экономики градостроительства. (Читать статью)
							.publication_additional Журнал «Градостроительство», №1, 2009 г.
						.publication_content_item
							.publication_name Управление комплексной реконструкцией районов исторической застройки
							.publication_additional Сборник трудов РААСН
				.publication_line_person
					img(src='/images/publications/persons/pub_per_04.png', alt='')
					.publication_line_person_title Иван Иванович Иванов
					.publication_line_content
						.publication_content_item
							.publication_name Схема территориального планирования в Дании.
							.publication_additional Журнал «Архитектура»
						.publication_content_item
							.publication_name
								| Методические вопросы оценки эффективности генерального плана городского поселения, городского округа.
							.publication_additional Сборник трудов РААСН
						.publication_content_item
							.publication_name
								| Формирование градостроительных предпосылок улучшения здоровья населения средствами территориального планирования (на примере схем территориального планирования Алтайского края и Белгородской области).
							.publication_additional
								| Сборник трудов РААСН
								br
								| Белгородский государственный технологический университет, 2008 г.
						.publication_content_item
							.publication_name Современные задачи экономики градостроительства. (Читать статью)
							.publication_additional Журнал «Градостроительство», №1, 2009 г.
						.publication_content_item
							.publication_name Управление комплексной реконструкцией районов исторической застройки
							.publication_additional Сборник трудов РААСН
				.publication_line_person
					img(src='/images/publications/persons/pub_per_05.png', alt='')
					.publication_line_person_title Иван Иванович Иванов
					.publication_line_content
						.publication_content_item
							.publication_name Схема территориального планирования в Дании.
							.publication_additional Журнал «Архитектура»
						.publication_content_item
							.publication_name
								| Методические вопросы оценки эффективности генерального плана городского поселения, городского округа.
							.publication_additional Сборник трудов РААСН
						.publication_content_item
							.publication_name
								| Формирование градостроительных предпосылок улучшения здоровья населения средствами территориального планирования (на примере схем территориального планирования Алтайского края и Белгородской области).
							.publication_additional
								| Сборник трудов РААСН
								br
								| Белгородский государственный технологический университет, 2008 г.
						.publication_content_item
							.publication_name Современные задачи экономики градостроительства. (Читать статью)
							.publication_additional Журнал «Градостроительство», №1, 2009 г.
						.publication_content_item
							.publication_name Управление комплексной реконструкцией районов исторической застройки
							.publication_additional Сборник трудов РААСН
				.publication_line_person
					img(src='/images/publications/persons/pub_per_06.png', alt='')
					.publication_line_person_title Иван Иванович Иванов
					.publication_line_content
						.publication_content_item
							.publication_name Схема территориального планирования в Дании.
							.publication_additional Журнал «Архитектура»
						.publication_content_item
							.publication_name
								| Методические вопросы оценки эффективности генерального плана городского поселения, городского округа.
							.publication_additional Сборник трудов РААСН
						.publication_content_item
							.publication_name
								| Формирование градостроительных предпосылок улучшения здоровья населения средствами территориального планирования (на примере схем территориального планирования Алтайского края и Белгородской области).
							.publication_additional
								| Сборник трудов РААСН
								br
								| Белгородский государственный технологический университет, 2008 г.
						.publication_content_item
							.publication_name Современные задачи экономики градостроительства. (Читать статью)
							.publication_additional Журнал «Градостроительство», №1, 2009 г.
						.publication_content_item
							.publication_name Управление комплексной реконструкцией районов исторической застройки
							.publication_additional Сборник трудов РААСН
				.publication_line_person
					img(src='/images/publications/persons/pub_per_07.png', alt='')
					.publication_line_person_title Иван Иванович Иванов
					.publication_line_content
						.publication_content_item
							.publication_name Схема территориального планирования в Дании.
							.publication_additional Журнал «Архитектура»
						.publication_content_item
							.publication_name
								| Методические вопросы оценки эффективности генерального плана городского поселения, городского округа.
							.publication_additional Сборник трудов РААСН
						.publication_content_item
							.publication_name
								| Формирование градостроительных предпосылок улучшения здоровья населения средствами территориального планирования (на примере схем территориального планирования Алтайского края и Белгородской области).
							.publication_additional
								| Сборник трудов РААСН
								br
								| Белгородский государственный технологический университет, 2008 г.
						.publication_content_item
							.publication_name Современные задачи экономики градостроительства. (Читать статью)
							.publication_additional Журнал «Градостроительство», №1, 2009 г.
						.publication_content_item
							.publication_name Управление комплексной реконструкцией районов исторической застройки
							.publication_additional Сборник трудов РААСН
				.publication_line_person
					img(src='/images/publications/persons/pub_per_08.png', alt='')
					.publication_line_person_title Иван Иванович Иванов
					.publication_line_content
						.publication_content_item
							.publication_name Схема территориального планирования в Дании.
							.publication_additional Журнал «Архитектура»
						.publication_content_item
							.publication_name
								| Методические вопросы оценки эффективности генерального плана городского поселения, городского округа.
							.publication_additional Сборник трудов РААСН
						.publication_content_item
							.publication_name
								| Формирование градостроительных предпосылок улучшения здоровья населения средствами территориального планирования (на примере схем территориального планирования Алтайского края и Белгородской области).
							.publication_additional
								| Сборник трудов РААСН
								br
								| Белгородский государственный технологический университет, 2008 г.
						.publication_content_item
							.publication_name Современные задачи экономики градостроительства. (Читать статью)
							.publication_additional Журнал «Градостроительство», №1, 2009 г.
						.publication_content_item
							.publication_name Управление комплексной реконструкцией районов исторической застройки
							.publication_additional Сборник трудов РААСН
				.publication_line_person
					img(src='/images/publications/persons/pub_per_09.png', alt='')
					.publication_line_person_title Иван Иванович Иванов
					.publication_line_content
						.publication_content_item
							.publication_name Схема территориального планирования в Дании.
							.publication_additional Журнал «Архитектура»
						.publication_content_item
							.publication_name
								| Методические вопросы оценки эффективности генерального плана городского поселения, городского округа.
							.publication_additional Сборник трудов РААСН
						.publication_content_item
							.publication_name
								| Формирование градостроительных предпосылок улучшения здоровья населения средствами территориального планирования (на примере схем территориального планирования Алтайского края и Белгородской области).
							.publication_additional
								| Сборник трудов РААСН
								br
								| Белгородский государственный технологический университет, 2008 г.
						.publication_content_item
							.publication_name Современные задачи экономики градостроительства. (Читать статью)
							.publication_additional Журнал «Градостроительство», №1, 2009 г.
						.publication_content_item
							.publication_name Управление комплексной реконструкцией районов исторической застройки
							.publication_additional Сборник трудов РААСН
				.publication_line_person
					img(src='/images/publications/persons/pub_per_10.png', alt='')
					.publication_line_person_title Иван Иванович Иванов
					.publication_line_content
						.publication_content_item
							.publication_name Схема территориального планирования в Дании.
							.publication_additional Журнал «Архитектура»
						.publication_content_item
							.publication_name
								| Методические вопросы оценки эффективности генерального плана городского поселения, городского округа.
							.publication_additional Сборник трудов РААСН
						.publication_content_item
							.publication_name
								| Формирование градостроительных предпосылок улучшения здоровья населения средствами территориального планирования (на примере схем территориального планирования Алтайского края и Белгородской области).
							.publication_additional
								| Сборник трудов РААСН
								br
								| Белгородский государственный технологический университет, 2008 г.
						.publication_content_item
							.publication_name Современные задачи экономики градостроительства. (Читать статью)
							.publication_additional Журнал «Градостроительство», №1, 2009 г.
						.publication_content_item
							.publication_name Управление комплексной реконструкцией районов исторической застройки
							.publication_additional Сборник трудов РААСН
				.publication_line_person
					img(src='/images/publications/persons/pub_per_11.png', alt='')
					.publication_line_person_title Иван Иванович Иванов
					.publication_line_content
						.publication_content_item
							.publication_name Схема территориального планирования в Дании.
							.publication_additional Журнал «Архитектура»
						.publication_content_item
							.publication_name
								| Методические вопросы оценки эффективности генерального плана городского поселения, городского округа.
							.publication_additional Сборник трудов РААСН
						.publication_content_item
							.publication_name
								| Формирование градостроительных предпосылок улучшения здоровья населения средствами территориального планирования (на примере схем территориального планирования Алтайского края и Белгородской области).
							.publication_additional
								| Сборник трудов РААСН
								br
								| Белгородский государственный технологический университет, 2008 г.
						.publication_content_item
							.publication_name Современные задачи экономики градостроительства. (Читать статью)
							.publication_additional Журнал «Градостроительство», №1, 2009 г.
						.publication_content_item
							.publication_name Управление комплексной реконструкцией районов исторической застройки
							.publication_additional Сборник трудов РААСН
				.publication_line_person
					img(src='/images/publications/persons/pub_per_12.png', alt='')
					.publication_line_person_title Иван Иванович Иванов
					.publication_line_content
						.publication_content_item
							.publication_name Схема территориального планирования в Дании.
							.publication_additional Журнал «Архитектура»
						.publication_content_item
							.publication_name
								| Методические вопросы оценки эффективности генерального плана городского поселения, городского округа.
							.publication_additional Сборник трудов РААСН
						.publication_content_item
							.publication_name
								| Формирование градостроительных предпосылок улучшения здоровья населения средствами территориального планирования (на примере схем территориального планирования Алтайского края и Белгородской области).
							.publication_additional
								| Сборник трудов РААСН
								br
								| Белгородский государственный технологический университет, 2008 г.
						.publication_content_item
							.publication_name Современные задачи экономики градостроительства. (Читать статью)
							.publication_additional Журнал «Градостроительство», №1, 2009 г.
						.publication_content_item
							.publication_name Управление комплексной реконструкцией районов исторической застройки
							.publication_additional Сборник трудов РААСН
				.publication_line_person
					img(src='/images/publications/persons/pub_per_13.png', alt='')
					.publication_line_person_title Иван Иванович Иванов
					.publication_line_content
						.publication_content_item
							.publication_name Схема территориального планирования в Дании.
							.publication_additional Журнал «Архитектура»
						.publication_content_item
							.publication_name
								| Методические вопросы оценки эффективности генерального плана городского поселения, городского округа.
							.publication_additional Сборник трудов РААСН
						.publication_content_item
							.publication_name
								| Формирование градостроительных предпосылок улучшения здоровья населения средствами территориального планирования (на примере схем территориального планирования Алтайского края и Белгородской области).
							.publication_additional
								| Сборник трудов РААСН
								br
								| Белгородский государственный технологический университет, 2008 г.
						.publication_content_item
							.publication_name Современные задачи экономики градостроительства. (Читать статью)
							.publication_additional Журнал «Градостроительство», №1, 2009 г.
						.publication_content_item
							.publication_name Управление комплексной реконструкцией районов исторической застройки
							.publication_additional Сборник трудов РААСН
				.publication_line_person
					img(src='/images/publications/persons/pub_per_14.png', alt='')
					.publication_line_person_title Иван Иванович Иванов
					.publication_line_content
						.publication_content_item
							.publication_name Схема территориального планирования в Дании.
							.publication_additional Журнал «Архитектура»
						.publication_content_item
							.publication_name
								| Методические вопросы оценки эффективности генерального плана городского поселения, городского округа.
							.publication_additional Сборник трудов РААСН
						.publication_content_item
							.publication_name
								| Формирование градостроительных предпосылок улучшения здоровья населения средствами территориального планирования (на примере схем территориального планирования Алтайского края и Белгородской области).
							.publication_additional
								| Сборник трудов РААСН
								br
								| Белгородский государственный технологический университет, 2008 г.
						.publication_content_item
							.publication_name Современные задачи экономики градостроительства. (Читать статью)
							.publication_additional Журнал «Градостроительство», №1, 2009 г.
						.publication_content_item
							.publication_name Управление комплексной реконструкцией районов исторической застройки
							.publication_additional Сборник трудов РААСН
				.publication_line_person
					img(src='/images/publications/persons/pub_per_15.png', alt='')
					.publication_line_person_title Иван Иванович Иванов
					.publication_line_content
						.publication_content_item
							.publication_name Схема территориального планирования в Дании.
							.publication_additional Журнал «Архитектура»
						.publication_content_item
							.publication_name
								| Методические вопросы оценки эффективности генерального плана городского поселения, городского округа.
							.publication_additional Сборник трудов РААСН
						.publication_content_item
							.publication_name
								| Формирование градостроительных предпосылок улучшения здоровья населения средствами территориального планирования (на примере схем территориального планирования Алтайского края и Белгородской области).
							.publication_additional
								| Сборник трудов РААСН
								br
								| Белгородский государственный технологический университет, 2008 г.
						.publication_content_item
							.publication_name Современные задачи экономики градостроительства. (Читать статью)
							.publication_additional Журнал «Градостроительство», №1, 2009 г.
						.publication_content_item
							.publication_name Управление комплексной реконструкцией районов исторической застройки
							.publication_additional Сборник трудов РААСН
				.publication_line_person
					img(src='/images/publications/persons/pub_per_16.png', alt='')
					.publication_line_person_title Иван Иванович Иванов
					.publication_line_content
						.publication_content_item
							.publication_name Схема территориального планирования в Дании.
							.publication_additional Журнал «Архитектура»
						.publication_content_item
							.publication_name
								| Методические вопросы оценки эффективности генерального плана городского поселения, городского округа.
							.publication_additional Сборник трудов РААСН
						.publication_content_item
							.publication_name
								| Формирование градостроительных предпосылок улучшения здоровья населения средствами территориального планирования (на примере схем территориального планирования Алтайского края и Белгородской области).
							.publication_additional
								| Сборник трудов РААСН
								br
								| Белгородский государственный технологический университет, 2008 г.
						.publication_content_item
							.publication_name Современные задачи экономики градостроительства. (Читать статью)
							.publication_additional Журнал «Градостроительство», №1, 2009 г.
						.publication_content_item
							.publication_name Управление комплексной реконструкцией районов исторической застройки
							.publication_additional Сборник трудов РААСН
				.publication_line_person
					img(src='/images/publications/persons/pub_per_17.png', alt='')
					.publication_line_person_title Иван Иванович Иванов
					.publication_line_content
						.publication_content_item
							.publication_name Схема территориального планирования в Дании.
							.publication_additional Журнал «Архитектура»
						.publication_content_item
							.publication_name
								| Методические вопросы оценки эффективности генерального плана городского поселения, городского округа.
							.publication_additional Сборник трудов РААСН
						.publication_content_item
							.publication_name
								| Формирование градостроительных предпосылок улучшения здоровья населения средствами территориального планирования (на примере схем территориального планирования Алтайского края и Белгородской области).
							.publication_additional
								| Сборник трудов РААСН
								br
								| Белгородский государственный технологический университет, 2008 г.
						.publication_content_item
							.publication_name Современные задачи экономики градостроительства. (Читать статью)
							.publication_additional Журнал «Градостроительство», №1, 2009 г.
						.publication_content_item
							.publication_name Управление комплексной реконструкцией районов исторической застройки
							.publication_additional Сборник трудов РААСН
				.publication_line_person
					img(src='/images/publications/persons/pub_per_18.png', alt='')
					.publication_line_person_title Иван Иванович Иванов
					.publication_line_content
						.publication_content_item
							.publication_name Схема территориального планирования в Дании.
							.publication_additional Журнал «Архитектура»
						.publication_content_item
							.publication_name
								| Методические вопросы оценки эффективности генерального плана городского поселения, городского округа.
							.publication_additional Сборник трудов РААСН
						.publication_content_item
							.publication_name
								| Формирование градостроительных предпосылок улучшения здоровья населения средствами территориального планирования (на примере схем территориального планирования Алтайского края и Белгородской области).
							.publication_additional
								| Сборник трудов РААСН
								br
								| Белгородский государственный технологический университет, 2008 г.
						.publication_content_item
							.publication_name Современные задачи экономики градостроительства. (Читать статью)
							.publication_additional Журнал «Градостроительство», №1, 2009 г.
						.publication_content_item
							.publication_name Управление комплексной реконструкцией районов исторической застройки
							.publication_additional Сборник трудов РААСН
				.publication_line_person
					img(src='/images/publications/persons/pub_per_19.png', alt='')
					.publication_line_person_title Иван Иванович Иванов
					.publication_line_content
						.publication_content_item
							.publication_name Схема территориального планирования в Дании.
							.publication_additional Журнал «Архитектура»
						.publication_content_item
							.publication_name
								| Методические вопросы оценки эффективности генерального плана городского поселения, городского округа.
							.publication_additional Сборник трудов РААСН
						.publication_content_item
							.publication_name
								| Формирование градостроительных предпосылок улучшения здоровья населения средствами территориального планирования (на примере схем территориального планирования Алтайского края и Белгородской области).
							.publication_additional
								| Сборник трудов РААСН
								br
								| Белгородский государственный технологический университет, 2008 г.
						.publication_content_item
							.publication_name Современные задачи экономики градостроительства. (Читать статью)
							.publication_additional Журнал «Градостроительство», №1, 2009 г.
						.publication_content_item
							.publication_name Управление комплексной реконструкцией районов исторической застройки
							.publication_additional Сборник трудов РААСН
	.grid.grid1
		span >
	.grid.grid2
		span <
	.grid.grid3
		span >
	.grid.grid4
		span <