doctype html
html
	head
		include header
	body
		include counters
		.main_block
			.header_block
				a.logo(href='/'): img(src='logo.png')
				.lang en
				.menu_block
					.menu_item Институт
						.menu_drop
							a(href='#') История
							a(href='#') Структура
							a(href='#') Награды
							a(href='#') Партнеры
							a(href='#') Вакансии
					.menu_item Работы
						.menu_drop
							a(href='/works/since') Научные работы
							a(href='/works/grad') Градостроительные работы
							a(href='/works/events') Акции
							a(href='/works/publications') Публикации
							a(href='/works/work') Test map
					.menu_item Обучение
						.menu_drop
							a(href='#') Учебный центр
							a(href='#') Аспирантура
							a(href='#') Повышение квалификации
					.menu_item Экспертиза
						.menu_drop
							a(href='#') Эксперты
							a(href='#') Регламент проведения негосударственной экспертизы
							a(href='#') Органы управления
					.menu_item Нормы
					.menu_item Лицензии
					.menu_item Контакты
			.content_block
				block content
			.footer_block
				.date 2014