extends ../layout

block title
	title Работы

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/works.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/works.js' + version)


block content
	#stre.content.works_block
		.work_view_style_block
			a.work_view_style.regions
			a.work_view_style.table
			a.work_view_style.russia
		.work_items.svg_style
			a.work_item(href='#')
				.work_title Алтайский край
				.work_svg
					img(src='/images/works/regions/altai.svg', alt='')
			a.work_item(href='#')
				.work_title Белгородская область
				.work_svg: img(src='/images/works/regions/belg.svg', alt='')
			a.work_item(href='#')
				.work_title Владимирская область
				.work_svg: img(src='/images/works/regions/vladimir.svg', alt='')
			a.work_item(href='#')
				.work_title Вологодская область
				.work_svg: img(src='/images/works/regions/vlg.svg', alt='')
			a.work_item(href='#')
				.work_title Калининградская область
				.work_svg: img(src='/images/works/regions/kgd.svg', alt='')
			a.work_item(href='#')
				.work_title Кемеровская область
				.work_svg: img(src='/images/works/regions/kem.svg', alt='')
			a.work_item(href='#')
				.work_title Новосибирская область
				.work_svg: img(src='/images/works/regions/nvs.svg', alt='')
			a.work_item(href='#')
				.work_title Пермский край
				.work_svg: img(src='/images/works/regions/perm.svg', alt='')
			a.work_item(href='#')
				.work_title Приморский край
				.work_svg: img(src='/images/works/regions/prim.svg', alt='')
			a.work_item(href='#')
				.work_title Республика Алтай
				.work_svg: img(src='/images/works/regions/resp-altai.svg', alt='')
			a.work_item(href='#')
				.work_title Республика Ингушетия
				.work_svg: img(src='/images/works/regions/ing.svg', alt='')
			a.work_item(href='#')
				.work_title Смоленская область
				.work_svg: img(src='/images/works/regions/smol.svg', alt='')
			a.work_item(href='#')
				.work_title Читинская область
				.work_svg: img(src='/images/works/regions/chit.svg', alt='')
		.work_items.table_style
			a.work_item(href='#')
				.work_title Алтайский край
			a.work_item(href='#')
				.work_title Белгородская область
			a.work_item(href='#')
				.work_title Владимирская область
			a.work_item(href='#')
				.work_title Вологодская область
			a.work_item(href='#')
				.work_title Калининградская область
			a.work_item(href='#')
				.work_title Кемеровская область
			a.work_item(href='#')
				.work_title Новосибирская область
			a.work_item(href='#')
				.work_title Пермский край
			a.work_item(href='#')
				.work_title Приморский край
			a.work_item(href='#')
				.work_title Республика Алтай
			a.work_item(href='#')
				.work_title Республика Ингушетия
			a.work_item(href='#')
				.work_title Смоленская область
			a.work_item(href='#')
				.work_title Читинская область
		.work_items.russia_style
			img(src='/images/works_russia.svg', alt='')