extends ../layout

block title
	title Работы

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/works.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/works.js' + version)


block content
	.works_block
		.works_navigator
			.work_navigate.regions регионы
			.work_navigate.map карта
		.work_items
			a.work_item(href='#')
				.work_title Алтайский край
				img.work_img(src='/images/design/regions/altai.svg')
			a.work_item(href='#')
				.work_title Белгородская область
				.work_img
			a.work_item(href='#')
				.work_title Владимирская область
				.work_img
			a.work_item(href='#')
				.work_title Вологодская область
				.work_img
			a.work_item(href='#')
				.work_title Калининградская область
				.work_img
			a.work_item(href='#')
				.work_title Кемеровская область
				.work_img
			a.work_item(href='#')
				.work_title Новосибирская область
				.work_img
			a.work_item(href='#')
				.work_title Пермский край
				.work_img
			a.work_item(href='#')
				.work_title Приморский край
				.work_img
			a.work_item(href='#')
				.work_title Республика Алтай
				.work_img
			a.work_item(href='#')
				.work_title Республика Ингушетия
				.work_img
			a.work_item(href='#')
				.work_title Смоленская область
				.work_img
			a.work_item(href='#')
				.work_title Читинская область
				.work_img
		.works_map
			img(src='/images/works_russia.svg', alt='')