extends ../layout

block title
	title Публикации

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/publications.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/publications.js' + version)

block content_title
	.content_title Публикации

block content
	.publications_block
		.publications_navigator
			.pub_scroller
		.publications_items
			.publications_items_inner
				.pub_item
					img.pub_image(src='/images/test/persons/pub_per_01.png', alt='')
					.pub_description
						.name Шумная Ирина Павловна
						.description Кандидат архитектуры, советник РААСН, старший научный сотрудник отдела оздоровления городской среды научно - методического центра оздоровления городской среды.
				.pub_item
					img.pub_image(src='/images/test/persons/pub_per_02.png', alt='')
					.pub_description
						.name Иван Петрович
						.description Описание
				.pub_item
					img.pub_image(src='/images/test/persons/pub_per_03.png', alt='')
					.pub_description
						.name Иван Петрович
						.description Описание
				.pub_item
					img.pub_image(src='/images/test/persons/pub_per_04.png', alt='')
					.pub_description
						.name Иван Петрович
						.description Описание
				.pub_item
					img.pub_image(src='/images/test/persons/pub_per_05.png', alt='')
					.pub_description
						.name Иван Петрович
						.description Описание
				.pub_item
					img.pub_image(src='/images/test/persons/pub_per_06.png', alt='')
					.pub_description
						.name Иван Петрович
						.description Описание
				.pub_item
					img.pub_image(src='/images/test/persons/pub_per_07.png', alt='')
					.pub_description
						.name Иван Петрович
						.description Описание
				.pub_item
					img.pub_image(src='/images/test/persons/pub_per_08.png', alt='')
					.pub_description
						.name Иван Петрович
						.description Описание
				.pub_item
					img.pub_image(src='/images/test/persons/pub_per_09.png', alt='')
					.pub_description
						.name Иван Петрович
						.description Описание
				.pub_item
					img.pub_image(src='/images/test/persons/pub_per_10.png', alt='')
					.pub_description
						.name Иван Петрович
						.description Описание
				.pub_item
					img.pub_image(src='/images/test/persons/pub_per_11.png', alt='')
					.pub_description
						.name Иван Петрович
						.description Описание
				.pub_item
					img.pub_image(src='/images/test/persons/pub_per_12.png', alt='')
					.pub_description
						.name Иван Петрович
						.description Описание
				.pub_item
					img.pub_image(src='/images/test/persons/pub_per_13.png', alt='')
					.pub_description
						.name Иван Петрович
						.description Описание
				.pub_item
					img.pub_image(src='/images/test/persons/pub_per_14.png', alt='')
					.pub_description
						.name Иван Петрович
						.description Описание
				.pub_item
					img.pub_image(src='/images/test/persons/pub_per_15.png', alt='')
					.pub_description
						.name Иван Петрович
						.description Описание
				.pub_item
					img.pub_image(src='/images/test/persons/pub_per_16.png', alt='')
					.pub_description
						.name Иван Петрович
						.description Описание
				.pub_item
					img.pub_image(src='/images/test/persons/pub_per_17.png', alt='')
					.pub_description
						.name Иван Петрович
						.description Описание
				.pub_item
					img.pub_image(src='/images/test/persons/pub_per_18.png', alt='')
					.pub_description
						.name Иван Петрович
						.description Описание
				.pub_item
					img.pub_image(src='/images/test/persons/pub_per_19.png', alt='')
					.pub_description
						.name Иван Петрович
						.description Описание