extends ../layout

block title
	title Публикации

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/publications.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/publications.js' + version)

block content_title
	.content_title Публикации

block content
	.publications_block
		.authors_navigator
			.authors_scroller
		.authors_items
			.authors_items_inner
				.author_item
					img.author_image(src='/images/test/persons/pub_per_01.png', alt='')
					.author_name Шумная Ирина Павловна

				.author_item
					img.author_image(src='/images/test/persons/pub_per_02.png', alt='')
					.author_name Чистякова Светлана Борисовна

				.author_item
					img.author_image(src='/images/test/persons/pub_per_03.png', alt='')
					.author_name Товмасьян Эдуард Ованесович

				.author_item
					img.author_image(src='/images/test/persons/pub_per_04.png', alt='')
					.author_name Титков Сергей Борисович

				.author_item
					img.author_image(src='/images/test/persons/pub_per_05.png', alt='')
					.author_name Стрельников Александр Иванович

				.author_item
					img.author_image(src='/images/test/persons/pub_per_06.png', alt='')
					.author_name Смыковская Галина Юрьевна

				.author_item
					img.author_image(src='/images/test/persons/pub_per_07.png', alt='')
					.author_name Смирнов Владимир Иосифович

				.author_item
					img.author_image(src='/images/test/persons/pub_per_08.png', alt='')
					.author_name Петрова Зоя Кирилловна

				.author_item
					img.author_image(src='/images/test/persons/pub_per_09.png', alt='')
					.author_name Молдавская Людмила Ушеровна

				.author_item
					img.author_image(src='/images/test/persons/pub_per_10.png', alt='')
					.author_name Лазарева Ирина Владимировна

				.author_item
					img.author_image(src='/images/test/persons/pub_per_11.png', alt='')
					.author_name Лола Александр Михайлович

				.author_item
					img.author_image(src='/images/test/persons/pub_per_12.png', alt='')
					.author_name Краснощекова Наталья Сергеевна

				.author_item
					img.author_image(src='/images/test/persons/pub_per_13.png', alt='')
					.author_name Коган Леонид Борисович

				.author_item
					img.author_image(src='/images/test/persons/pub_per_14.png', alt='')
					.author_name Кивва Константин Васильевич

				.author_item
					img.author_image(src='/images/test/persons/pub_per_15.png', alt='')
					.author_name Давиденко Павел Николаевич

				.author_item
					img.author_image(src='/images/test/persons/pub_per_16.png', alt='')
					.author_name Герцберг Лора Яковлевна

				.author_item
					img.author_image(src='/images/test/persons/pub_per_17.png', alt='')
					.author_name Вильнер Марк Яковлевич

				.author_item
					img.author_image(src='/images/test/persons/pub_per_18.png', alt='')
					.author_name Айзенберг Яков Моисеевич

				.author_item
					img.author_image(src='/images/test/persons/pub_per_19.png', alt='')
					.author_name Азаренкова Зинаида Владимировна

		.publications_description_block
			.author_description Кандидат архитектуры, советник РААСН, старший научный сотрудник отдела оздоровления городской среды научно - методического центра оздоровления городской среды.
			.publications_cat.plain
				.cat_title Публикации:
				.pub_item
					.pub_title Особенности становления и развития городов - научных центров.
					.pub_authors
					.pub_description Сборник научных статей РААСН. «Фундаментальные и приоритетные прикладные исследования РААСН по научному обеспечению развития архитектуры, градостроительства и строительной отрасли РФ в 2007 г.» Том 2, Москва-Белгород, 2008 г.
			.publications_cat.sub
				.cat_title Соавторство:
				.pub_item
					.pub_title Особенности функционирования городов - научных центров (наукоградов).
					.pub_authors
						.author Сережа Безруков
						.author Вася Кондрашов
						.author Петя Корова
					.pub_description Сообщение на III Всероссийском социологическом конгрессе, секция 23 «Социология городского и регионального развития. Города и регионы: социология развития и межотраслевого взаимодействия», Москва, 2008.