body {
	margin: 0;
	padding: 0;
}

/*html, body, .main_block {
	height: 100%;
}*/

.content_block {
	height: 90%;
}

.header_block {
	height: 60px;
	z-index: 10000;
	background-color: #d28f80;
}

.logo img {
	width: 100px;
	height: 50px;
	float: left;
}

.menu_item {
	float: left;
	margin-right: 25px;
	cursor: default;
}

.menu_item:hover .menu_drop{
	display: block;
}

.menu_item a {
	display: block;
	text-decoration: none;
	color: black;
	/*margin-top: 5px;*/
	padding: 5px;
}

.menu_item a:hover {
	text-decoration: underline;
}

.menu_drop {
	display: none;
	position: absolute;
	background-color: white;
}

.footer_block {
	height: 60px;
	background-color: #b4a6ff;
}