body {
	margin: 0;
	padding: 0;
}

/*html, body, .main_block {
	height: 100%;
}*/

.content_block {
	height: 90%;
}

.header_block {
	padding-top: 20px;
	height: 40px;
	z-index: 10000;
	background-color: #d28f80;
}

.logo {
	margin-left: 50px;
	display: block;
}

.logo img {
	width: 120px;
	height: auto;
	float: left;
}

.menu_block {
	margin-left: 200px;
}

.menu_item {
	float: left;
	margin-right: 25px;
	cursor: default;
	font: 12pt/12pt 'helveticaneuecyrlight';
}

a.menu_item {
	cursor: pointer;
	text-decoration: none;
	color: black;
}

a.menu_item:hover {
	text-decoration: underline;
}

.menu_item:hover .menu_drop{
	display: block;
}

.menu_item a {
	display: block;
	text-decoration: none;
	color: black;
	padding: 5px;
}

.menu_item a:hover {
	text-decoration: underline;
}

.menu_drop {
	display: none;
	position: absolute;
	background-color: white;
	padding-top: 5px;
	margin-left: -5px;
	z-index: 3;
}

.footer_block {
	padding-top: 10px;
	padding-left: 50px;
	font: 8pt/10pt 'helveticaneuecyrheavy';
	height: 20px;
	background-color: #b4a6ff;
}