.footer_block {
	bottom: 0;
	position: fixed;
	width: 100%;
}

.pub_item {
	display: inline-block;
	font-size: 16px;
}

.pub_image {
	width: 200px;
	-webkit-filter: grayscale(100%);
}

.pub_image:hover {
	-webkit-filter: none;
}

.publications_items {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  font-size: 0;
  width: 100%;
}

.pub_scroller {
	width: 65px;
	height: 45px;
	background-image: url(/images/design/icons/pub_scroller.png);
	background-repeat: no-repeat;
	background-position: 2px;
}