.footer_block {
	bottom: 0;
	position: fixed;
	width: 100%;
}

.pub_item {
	display: inline-block;
	font-size: 16px;
}

.publications_items {
	margin-top: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  font-size: 0;
  width: 100%;
  outline: 2px solid red;
}