.content_title_block {
	margin-left: 50px;
}

.author_item {
	display: inline-block;
}

.author_image {
	width: 200px;
	-webkit-filter: grayscale(100%);
}

.author_image:hover {
	-webkit-filter: none;
}

.author_name {
	font: 12pt/12pt 'helveticaneuecyrlight';
	width: 180px;
	margin-top: 10px;
	/*background-color: #8faad2;*/
	white-space: normal;
}

.description {
	width: 200px;
	margin-top: 10px;
	background-color: #abcfd2;
	/*white-space: normal;*/
	font: 12pt/12pt 'helveticaneuecyrlight';
}

.authors_items {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  font-size: 0;
  width: 100%;
}

.authors_scroller {
	width: 65px;
	height: 45px;
	margin-top: 20px;
	margin-bottom: 10px;
	background-image: url(/images/design/icons/pub_scroller.png);
	background-repeat: no-repeat;
	background-position: 2px;
}






.publications_description_block {
	margin-top: 80px;
	margin-left: 290px;
}




.author_description {
	width: 500px;
	font: 11pt/12pt 'helveticaneuecyrlight';
	margin-bottom: 20px;
}

.cat_title {
	font: 11pt/12pt 'helveticaneuecyrbold';
	clear: both;
	margin-bottom: 10px;
}

.pub_title, .pub_authors, .pub_description {
	float: left;
	font: 11pt/12pt 'helveticaneuecyrlight';
}

.pub_title {
	width: 300px;
}

.pub_authors {
	width: 180px;
	min-height: 20px;
	padding-left: 20px;
}

.pub_description {
	width: 500px;
}


.footer_block {
	bottom: 0;
	position: fixed;
	width: 100%;
}