.works_block {
	overflow: hidden;
	margin-left: 50px;
}

.work_navigate {
	float: left;
	margin-right: 10px;
	cursor: pointer;
}

.work_items {
	clear: both;
	margin-top: 50px;
}

.work_item {
	float: left;
	margin-right: 5%;
	min-width: 200px;
	margin-bottom: 20px;
	text-decoration: none;
	color: black;
}

.work_img {
	width: 200px;
	height: 200px;
	display: block;
	font: 0;
	background-color: #29b3d2;
}

.works_map {
	width: 100%;
	background-color: #d2c880;
	display: none;
}